CSV_URL=https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/CNES/Unidades_Basicas_Saude-UBS_csv.zip
CSV_DELIMITER=;
CSV_ENCODING=utf-8-sig
CSV_LATITUDE_COLUMN=
CSV_LONGITUDE_COLUMN=
MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=dados_georreferenciados
MONGO_COLLECTION_NAME=ubs