CSV_URL=https://dados.gov.br/dataset/3b966e22-3a80-4464-9e3e-3c83f2e8b0c5/resource/e8a10748-423c-433a-9523-14c1c2eba6cf/download/ubs.csv
CSV_DELIMITER=;
CSV_ENCODING=latin-1
CSV_LATITUDE_COLUMN=
CSV_LONGITUDE_COLUMN=
MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=dados_georreferenciados
MONGO_COLLECTION_NAME=ubs